/* CSS Reset */
* {
    padding: 0;
    margin: 0;
}

section {
    width: 970px;
}

.center {
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    display: inline-block;
}

.square {
    width: 50px;
    height: 50px;
}
